<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}"
      with:title="MuleSoft">
<th:block layout:fragment="body_end">
    <div class="container">
        <br class="list-group list-group-flush">
            <li class="list-group-item">What is Mule-Soft?</li></br>
            <li class="list-group-item">What is API-Lead connectivity?</li></br>
            <li class="list-group-item">Why we use RAML in Mule?</li></br>
            <li class="list-group-item">Which one is latest version of the RAML?</li></br>
            <li class="list-group-item">How to design flow through RAML?</li></br>
           <li class="list-group-item">Difference between PUT and POST method?</li></br>
           <li class="list-group-item">How to handle resource reusability in RAML design?</li></br>
           <li class="list-group-item">How many ways to design flow in AnyPoint Studio</li></br>
           <li class="list-group-item">Explain working of the API-Kit Router?</li></br>
          <li class="list-group-item">Is there any way to add manually end-point in API-Kit router?</li></br>
          <li class="list-group-item">Why we use Gateway in mule-soft?</li></br>
          <li class="list-group-item">Why we use Message Enricher?</li></br>
          <li class="list-group-item">What is the return type of the HTTP/FTP/DataBase/SMTP etc. connectors?</li></br>
          <li class="list-group-item">Explain working of the Scatter-Gather component?</li></br>
          <li class="list-group-item">Why we use Message Transformer component in mule-soft?</li></br>
          <li class="list-group-item">How to convert json to csv data in mule-soft?</li></br>
          <li class="list-group-item">Explain TLS integration steps in mule HTTP connector?</li></br>
         <li class="list-group-item">Why we use ActiveMQ or WMQ or VM in mule-soft?</li></br>
        <li class="list-group-item">How many flow strategy are available in mule-soft?</li></br>
        <li class="list-group-item">Exception strategy in mule-soft?</li></br>
        <li class="list-group-item">What is API-Kit exception in mule-soft?</li></br>
        <li class="list-group-item">How to call SOAP api's in mule-soft?</li></br>
        <li class="list-group-item">Salesforce connector step's</li></br>
        <li class="list-group-item">How to use LDAP connector?</li></br>
        <li class="list-group-item">How to secure payload in mule-soft?</li></br>
        <li class="list-group-item">How to use dw() function in mule-soft?</li></br>
        </ul>
    </div>
</th:block>
</html>