<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}"
      with:title="MuleSoft">
<th:block layout:fragment="body_end">
    <br class="container">
        </br></br>
        <ul>
            <li><a href="/muleSoftInterviewQuestion">Mule Soft Interview Questions</a> </li>
            <li> <a href="/dataweave">DataWeaves language</a> </li>
            <li><a href="">DataWeaves language in-build functions</a> </li>
        </ul>
    </div>
</th:block>
</html>