<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}"
      with:title="Spring boot">
<th:block layout:fragment="body_end">
    <div class="container">
        <ul>
            <li><a href="/muleSoftInterviewQuestion">Spring boot</a> </li>
            <li> <a href="/dataweave">Spring cloud</a> </li>
            <li><a href="">Spring boot JPA</a> </li>
        </ul>
    </div>
</th:block>
</html>